*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.container{background-image: url(./image/hero_bg.jpg);

    background-size: cover;
    
    background-attachment: fixed;
    background-color:#9c9c9c;
    background-blend-mode: multiply;
    /*color: var(--clr-light);*/
    
    background-repeat: no-repeat;
    text-align: center;
    flex-wrap: wrap;

    color: black;
}
.box{ padding: 2%;
    color: rgb(211, 211, 211);
    width: 100%;
    height: fit-content;
}
.box1{
    display: flex;
    justify-content: center;
}
.center{
    padding: 1%;
}
.bar{
    margin-right: auto;
    display: flex;
    justify-content: center;
}
.meal{
    margin-right: auto;
}
.row{
    padding: 6%;
    color: rgb(133, 133, 133);
}
.row:hover{
    color: white;
}
.box2{padding: 7%;
    text-align: center;
}
.span1{border-radius: 100px;
    padding: 15px;
    background-color:  rgb(255, 91, 41);
    font-size:12px;
    color: rgb(255, 255, 255);
    
}

.span-book{border-radius: 100px;
    padding: 15px;
    background-color:  rgb(255, 91, 41);
    font-size:12px;
    color: rgb(255, 255, 255);
    
}

.p2{
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 1px;
}
.p1{
    font-size: 12px;
    letter-spacing: 1px;
}
.sm{margin-left: auto;
    
}
.box3{
    display: flex;
    
}
.can{

}
.icon{
    background-color: white;
    color:  rgb(255, 91, 41);;
    font-size: 18px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
   vertical-align: middle;
    outline: none;

   
   
    border: none;
}
.center1{
    padding-left: 12%;
    margin-left: auto;
    font-size: 10px;
  
}
.rightbox{
    align-items: center;

}
.food{
    width: 25px;
    margin-right: 20px;
    
}
.active{font-size: 20px;
    padding: 35px;

    display: block;
    position: relative;
    z-index: 1;
}
.spa{
    padding: 21px;
    width: 100%;
}
.spa:hover{
      
    background-color: white;
    border-radius: 100px;
}
.ul{
    list-style: none;
}
.colum{padding: 14px;
    display: flex;
    justify-content: center;
}
.second-container{padding: 8%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.mainbox{
   background-color:#fee2b3;
}
.food2{/*padding: 10px;*/
    width: 80%;
    box-shadow: 0 15px 30px 0 #ebca92;
    
}
.test{
    /*padding: 5px;*/
}
.text-primary{
    color: rgb(255, 91, 41);
}
.subtitle{
    font-size: 15px;
    letter-spacing: 1px;
    color: gray;
    margin: 3px;
}
.h3{
    font-size: 35px;
    
}
.mb-4{padding: 0%;
    
}
.rightbox{
    /*padding: 20px;
    margin-left: 20px;*/
    flex-wrap: wrap;
    position: relative;
    left: 120px;
    top:20px
}
.leftbox{
    /*margin: 10px;*/
}
.firstbox{
    
}
.bottom-box{
    text-align: center;
}
.box-2{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    padding: 5%;
}
.box-row{border: 1px solid;margin: 10px;height: 173px;
    border-color: rgb(194, 194, 194);

    display: flex;
}
.box-row img{
    width: 100px; height: 100px;
    text-align: center;
    padding: 5%;
}
.box-row p{
    position: relative;
    top: 30%;
    padding: 20px;
    font-size: 20px;
}
.box-row:hover{
    background-color: white;
}
.main{
    /* background-image: url(./image/hero_bg_2.jpg); */
    
     background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background: rgba(245, 201, 126, 0.9);
    
    
     background-blend-mode: multiply; 
    color: black;
     

}
.main-1{
    position: relative;
}
/* .main::before {
    position: absolute;
    content: "";
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(245, 201, 126, 0.9);
    z-index: 1;
    
} */





/* .perent-3::after{
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
    */
.perent-3{padding: 5%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}
.childe{margin: 10px;
    padding: 10px;

    width: 650px;
}
.childe-1 img{
    width: 100px;
    border-radius: 100px;
}
.div1{
    padding: 10px;
}

.col2 img{
    border-radius: 10px;
}
.col1 img{
    border-radius: 10px;
}
.span1:hover{
    background-color: rgb(255, 106, 52);
}
.birthday-card{padding: 5%;background-color:#fee2b3;
    text-align: center;
    flex-wrap: wrap;
}
.child-box-1{width: 50%;
    margin-left: auto;
    margin-right: auto;

}
.child-box-2{
    display: flex;
    justify-content: center;


}
.CARD-1{
    padding: 3%;
    text-align: center;
    flex-wrap: wrap;
}



.ul{
    list-style-type: square;
    font-size: 20px;
}
.ul li{
    padding: 10px;
}
.one1 img{
    width:100%;
}
.two-box{margin: 2%;
    padding: 3%;

    
}
.one2{
    text-align: start;
}
.h4{
    font-size: 32px;
}
.main-footer{
    background-color: #645f56;
}

.footer{padding: 4%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.fot-1{
    /* width: 299px;*/margin: 37px; 
}
.fot-1 li{
    color: rgb(175, 175, 175);
    font-size:15px;
    padding: 10px;
    position: relative;
    right: 5px;
}
.fot-1 ul{list-style: none;
    font-size: 18px;color: white;font-family: initial;
    padding: 10PX;
}

.fot-1 .button {
       
        width: 32px;
        height: 32px;
        border-radius: 50%;
        text-align: center;
       vertical-align: middle;
        outline: none;
    
        background-color: white;
        color: black;
       
        border: none;
    }

/* .ul-footer-2 li{
    position: relative;
    right: 75px;
    top: 28px;
} */
.fot-1 .button:hover{
    background-color: rgb(255, 106, 52);
}
.li:hover{
    color: rgb(219, 219, 219);
}
.center .H1{
    font-family: initial; 
    font-size: 90px;
    letter-spacing: 1px;
}
.ul-footer-2
{display: flex;}










@media (max-width:1506px){
    .second-container{
        display: block;


    }
    .dropbtn{
        display: none;
    }
    /* .top-ul{
        display: flex;
        justify-content: center;
        
    }
     */
    
}
@media(max-width:2000px)
{
    .dropbtn{
        display: none;
    } 
}
@media(max-width:1307px){
    .child-box-2{
        display: block;

    }
}
@media (max-width:600px){
/* .active{
        padding: 4px;
    } */
    
    .footer{
        display: block;
    }
    .footer .li{
        display: block;
    }

    .child-box-2{
        display: block;

    }
    
    
}
@media (max-width:856px){

    .child-box-2{
        display: block;
    }
}
@media (max-width:930px){
    .rightbox{  position: inherit;
        right: 120px;
    }.center p{
        padding: 2%;
    }
    .icon {padding: 5px;
        font-size: 15px;

    }


}
@media (max-width:399px)
{
    .center .H1{
        font-size: 50px;
    }
    .center p{
        padding: 5%;
    }
}
@media (max-width:791px)
{.col3{
    padding:5% ;
}
.book{
    padding: 10px;
}
    .bar{
        display: none;
    }
    
    .nav-bar{
        display: block;
    }
.dropbtn{
    display: table-column-group;
}
.book{
    display: none;
}

}
@media (max-width:290px)
{
    .ul-footer-2 li{
    
    }
}



  /* .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  } */

.food2:hover{
    transition-property: image;
    transition-duration: 7s;
    transform:scaleZ(0.1);
    transition-duration: 3s;
    
}




  .dropbtn {
    opacity: 0.5;
    background-color: black;
    color: white;
    padding: 12px;
    font-size: 32px;
    border: none;
    cursor: pointer;
  }
  
  
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    /* position: absolute; */
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;
outline: none;}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}
  








/* .booking-detailes{
    display: flex;
    justify-content: center;
    
}
.book{

    border: 1px solid;
}
.orange-icon{height: 44px;
    width: 44px;
    border-radius: 100px;
    background-color: rgb(247, 98, 44);
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 10px;
}
.loc1{
    margin-top: 1.5rem!important;
display: flex;
}
.birthday-card-1{padding: 5%;background-color:#fee2b3;

    flex-wrap: wrap;
}
.loc1 h4{
    font-size: 18px;
    padding: 0 0 0 60px;
}
.loc1 p{padding: 0 0 0 60px;
    margin-bottom: 0;
    font-size: 14px}

.book{
    transition-delay: 1s;
}
.book i{
    font-size: 20px;
    float: left;
    width: 44px;
    height: 44px;
    background: #ff5200;
    display: -webkit-box;
    display: -ms-flexbox;
    /* display: flex; 
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 100px;
    /*px; 
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    color: #ffffff;
}



   */